<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background: #2E2E2E !important;">


    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="padding-top: 5%;">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Quienes somos?</h6>
                <p>Somos una empresa dedicada a la promocion y sensibilizacion acerca de los procesos de gestion y donacion de sangre.</p>

            </div>
            <!-- Grid column -->



            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Redes Sociales</h6>
                <p>
                    <i class="fab fa-facebook-f white-text mr-4"> </i>Siguenos en Facebook
                </p>
                <p>
                    <i class="fab fa-twitter white-text mr-4"> </i>Siguenos en Twitter
                </p>
                <p>
                    <i class="fab fa-instagram white-text mr-4"></i>Siguenos en Instagram
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contactanos</h6>
                <p>
                    <i class="fas fa-envelope mr-3"></i>Donasangre@gmail.com
                </p>
                <p>
                    <i class="fas fa-home mr-3"></i> Cochabamba, NY 10012, Bolivia
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>

</footer>
<!-- Footer -->