#seccion {
    padding: 5% 15% 3% 15%;
}

.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}

.centreado {
    text-align: center;
}

p {
    font-weight: lighter;
}

.encabezado {
    text-align: center;
    padding: 5% 0 0 0;
}

img {
    height: 36px;
    margin-right: 5%;
}

.boton {
    width: 272px !important;
    padding: 10px 0 10px 0 !important;
}