<section id="seccion">
    <div class="centreado">
        <h1 class="encabezado">Formulario de Registro</h1>
        <button type="button" class="btn btn-primary boton">
            <img class="imagen" src="../../../assets/images/google.jpg">
              Iniciar sesion con google
            
        </button>


    </div>

</section>
<section id="seccion">
    <div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ci">Carnet de Identidad</label>
                    <input type="text" class="form-control" id="ci" placeholder="C.I.">
                </div>
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre(s)</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ap">Apellido Paterno</label>
                    <input type="text" class="form-control" id="ap" placeholder="Apellido">
                </div>
                <div class="form-group col-md-6">
                    <label for="am">Apellido Materno</label>
                    <input type="text" class="form-control" id="am" placeholder="Apellido">
                </div>
            </div>
            <div class="form-group">
                <label for="fnac">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fnac" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="genero">Genero</label>
                    <select id="genero" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="tiposangre">Tipo de Sangre</label>
                    <select id="tiposangre" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="organos">
                        <label class="form-check-label" for="organos">
                      Donador de Organos
                    </label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="sangre">
                        <label class="form-check-label" for="sangre">
                      Donador de Sangre
                    </label>
                    </div>
                </div>
            </div>
            <div class="centreado" style="padding-top: 10%;">
                <button type="submit" class="btn btn-danger">Registrarse</button>
            </div>
        </form>
    </div>
</section>