#seccion {
    padding: 10% 15% 10% 15% !important;
}
h6{
    font-weight: bolder !important;

}

.col {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 40vh !important;
}
.texto{
    text-align: center;
    padding-top:30px;
}
.centrear {
    display: flex;
    align-items: center;
    justify-content: center;
}
.citas{
    background-color: #1195ba69;
    padding: 5px 0 5px 0;
    border-radius: 2%;
}
p {
    font-weight: lighter;
}

.encabezado {
    text-align: center;
}

.tarjeta {
    border: none;
    background-color: transparent;
}

img {
    margin: 2% 0 2% 0 !important;
}

p {
    font-weight: bold;
}