<section class="seccion">
    <div>
        <h1 class="encabezado"></h1>
    </div>

    <div class="cards">

        <div class="cards" data-toggle="modal" data-target="#exampleModal">
            <article class="card card--1">
                <div class="card__img"></div>
                <a class="card_link">
                    <div class="card__img--hover" style="background-image: url('../../../assets/images/person1.jpg');"></div>
                </a>
                <div class="card__info">
                    <h3 class="card__category">Nombre:</h3>
                    <h3 class="card__category">Punto de donacion:</h3>
                    <h3 class="card__category">Cantidad de donadores:</h3>
                </div>
            </article>
        </div>

    </div>



</section>