<section class="seccion">
    <div class="centrear" style="padding:20% 0 10% 0;">
        <div class="card" style="width: auto;">
            <div class="container">

                <div class="row">
                    <div class="col-6">
                        <img src="../../../assets/images/person1.jpg" class="card-img-top" alt="..." style="border-radius: 50%;">
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h1 class="card-title encabezado">Bienvenido</h1>
                            <hr>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-color: black; height: 100px;">

            </div>

        </div>
    </div>
</section>