<section class="seccion">
    <div class="centrear" style="padding:20% 0 10% 0;">
        <div class="card" style="width: auto;">
            <div class="container">

                <div class="row" >
                    <div class="col-6">
                        <img src="../../../assets/images/person1.jpg" *ngIf="!fotoPersona" class="card-img-top" alt="...">
                        <img src="{{fotoPersona}}" *ngIf="fotoPersona" class="card-img-top" alt="...">
                    </div>
                    <div class="col-6" *ngFor="let item of personaCompleta" >
                        <div class="card-body">
                            <h2 class="card-title encabezado">Bienvenido</h2>
                            <hr>
                            <p>Nombre Completo: {{item.nombre}} {{item.apellido_p}} {{item.apellido_m}} </p>
                            <p *ngIf="item.sangre == true">Registrado como: Donador de Sangre </p>
                            <p *ngIf="item.organos == true">Registrado como: Donador de Organos </p>
                            <p>Tipo de Sangre: {{item.tipo_sangre}}  </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-color: #F1414E; height: 80px;">
            </div>

        </div>
    </div>
</section>
<section class="seccion">
    <div class="centrear">
        <h1 class="encabezado">Citas</h1>
    </div>
    <div class="container" style="padding:5% 0 5% 0;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Lugar</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of citasHospitalesvar">                    
                    <td>{{item.hora}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.hospital}}</td>
                    <td *ngIf="item.estado == false">En espera</td>
                </tr>
            </tbody>
        </table>

    </div>

</section>