<main role="main">

    <section>
        <div id="seccion" class="imagenfondo">
            <div class="centrear">
                <h1>Dona Sangre</h1>
                <h1>para <b>Salvar Vidas...</b></h1>
                <a class="btn btn-danger" style="color: white;">Quiero Donar</a>
            </div>

        </div>
    </section>
    <section>
        <div id="seccion">
            <div>
                <h2 class="encabezado">Pasos para Donar Sangre</h2>
                <div class="container">
                    <div class="row separador-seccion centrecard">
                        <div class="col-md-3">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="../../../assets/images/imagenseccionmotivos.png" class="img-fluid" roundedCircle>
                                        <!-- <Image src={img} roundedCircle class="img-fluid" /> -->
                                    </div>
                                    <div class="flip-card-back">
                                        <p>La sangre es impresindible en operaciones y urgencias</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="../../../assets/images/imagenseccionmotivos2.png" class="img-fluid" roundedCircle>
                                        <!-- <Image src={img} roundedCircle class="img-fluid" /> -->
                                    </div>
                                    <div class="flip-card-back">
                                        <p>La sangre es impresindible en operaciones y urgencias</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="../../../assets/images/imagenseccionmotivos3.png" class="img-fluid" roundedCircle>
                                        <!-- <Image src={img} roundedCircle class="img-fluid" /> -->
                                    </div>
                                    <div class="flip-card-back">
                                        <p>La sangre es impresindible en operaciones y urgencias</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="../../../assets/images/imagenseccionmotivos4.png" class="img-fluid" roundedCircle>
                                        <!-- <Image src={img} roundedCircle class="img-fluid" /> -->
                                    </div>
                                    <div class="flip-card-back">
                                        <p>La sangre es impresindible en operaciones y urgencias</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div id="seccion" class="imagenfondo2">
            <div class="container">

                <div class="row">
                    <div class="ml-auto" style="padding-top: 10%;">
                        <div>
                            <h2 class="encabezado">Pasos para Donar Sangre</h2>
                            <img src="../../../assets/images/imagen.png" style="height: 380px;" class="im" />

                        </div>
                    </div>
                </div>

            </div>


        </div>

    </section>