#seccion {
    padding: 10% 15% 5% 15%;
}


/* FORMULARIOS VALIDACION */

.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}


/* FIN FORMULARIOS VALIDACION */

.encabezado {
    color: #2E2E2E;
    text-align: center;
    padding: 10% 0 5% 0;
}