<section id="seccion">
  <div>
    <h1 class="encabezado">Puntos de Donacion habilitados</h1>
  </div>
  <div style=" padding: 60px 0 60px 0;">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4" *ngFor="let item of hospitales">
          <div
            class="card"
            data-toggle="modal"
            data-target="#exampleModal1"
            *ngIf="estaLogeado == true; else noLogeado"
          >
            <img src="{{ item.foto }} " class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ item.hospital }}</h5>
              <h5 class="card-title">{{ item.telefono }}</h5>
            </div>
          </div>
          <ng-template #noLogeado>
            <div
              class="card"
              data-toggle="modal"
              data-target="#exampleModal"
              *ngIf="estaLogeado == false"
            >
              <img src="{{ item.foto }} " class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">{{ item.hospital }}</h5>
                <h5 class="card-title">{{ item.telefono }}</h5>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cita Donacion</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="fecha">Seleccione la fecha para la Donacion</label>
                <input
                  name="fecha"
                  type="date"
                  class="form-control"
                  id="fecha"
                  required
                  placeholder="1234 Main St"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="hora">Seleccione la Hora para la Donacion</label>
                <input
                  name="hora"
                  type="time"
                  class="form-control"
                  id="hora"
                  required
                  placeholder="1234 Main St"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
