<div id="seccion" class="imagenfondo mr-auto">
    <div class="centrear" style="text-align: left; padding-top:20%; padding-left:55%" >
        <h1>Tu tambien puedes</h1>
        <h1>ser un Heroe...</h1>
        <button type="button" class="btn btn-danger">Quiero Donar</button>
    </div>

</div>
<section id="seccion">
    <div class="centreado">
        <h1 class="encabezado">Pasos para solicitar Donadores</h1>
    </div>
    <div class="centreado container">
        <div class="row">
            <div class="col-md-3">
                <img class="imga" src="../../../assets/images/Requisitosdonarorganos.png">
                <p>Ser mayor de 21 años</p>

            </div>
            <div class="col-md-3">
                <img  class="imga"  src="../../../assets/images/Requisitosdonarorganos2.png">
                <p></p>
            </div>
            <div class="col-md-3">
                <img  class="imga" src="../../../assets/images/Requisitosdonarorganos3.png">
                <p>Comparte en tus redes sociales</p>
            </div>
            <div class="col-md-3">
                <img  class="imga" src="../../../assets/images/Requisitosdonarorganos4.png">
                <p>Gozar de buena salud</p>
            </div>
        </div>

    </div>
</section>
<section id="seccion">
    <div class="centreado">
        <h1 class="encabezado">Que Organos puedo Donar?</h1>
    </div>
    <div class="centreado container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/Untitled-1.png">

            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/Untitled-2.png">
                <p></p>
            </div>
        </div>

    </div>
    
</section>