<div id="seccion" class="imagenfondo mr-auto">
    <div class="centrear" style="text-align: right;">
        <h1>Tu tambien puedes</h1>
        <h1>ser un Heroe...</h1>
        <button type="button" class="btn btn-danger">Quiero Donar</button>
    </div>

</div>
<section id="seccion">
    <div class="centreado">
        <h1 class="encabezado">Pasos para solicitar Donadores</h1>
    </div>
    <div class="centreado container">
        <div class="row">
            <div class="col-md-3">
                <img src="../../../assets/images/Requisitosdonarorganos.png">
                <p>Llena el Formulario</p>

            </div>
            <div class="col-md-3">
                <img src="../../../assets/images/Requisitosdonarorganos2.png">
                <p>Registra tu solicitud</p>
            </div>
            <div class="col-md-3">
                <img src="../../../assets/images/Requisitosdonarorganos3.png">
                <p>Comparte en tus redes sociales</p>
            </div>
            <div class="col-md-3">
                <img src="../../../assets/images/Requisitosdonarorganos4.png">
                <p>Comparte en tus redes sociales</p>
            </div>
        </div>

    </div>
</section>