<div id="seccion" class="imagenfondo">
    <div class="centrear">
        <h1>Tu tambien puedes</h1>
        <h1>ser un Heroe...</h1>
        <button type="button" class="btn btn-danger">Quiero Donar</button>
    </div>

</div>
<section id="seccion">
    <div class="centreado">
        <h1 class="encabezado">Pasos para solicitar Donadores</h1>
    </div>
    <div class="centreado container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/images/llena.png">
                <p>Llena el Formulario</p>

            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/tasks-solid.png">
                <p>Registra tu solicitud</p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/compartir.png">
                <p>Comparte en tus redes sociales</p>
            </div>
        </div>

    </div>
</section>
<section id="seccion">
    <div class="centreado">
        <h1 class="encabezado">Formulario de Solicitud de Donadores</h1>
    </div>
    <div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ci">Carnet de Identidad</label>
                    <input type="text" class="form-control" id="ci" placeholder="C.I.">
                </div>
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre(s)</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ap">Apellido Paterno</label>
                    <input type="text" class="form-control" id="ap" placeholder="Apellido">
                </div>
                <div class="form-group col-md-6">
                    <label for="am">Apellido Materno</label>
                    <input type="text" class="form-control" id="am" placeholder="Apellido">
                </div>
            </div>
            <div class="form-group">
                <label for="fnac">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fnac" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="genero">Genero</label>
                    <select id="genero" class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="tiposangre">Tipo de Sangre</label>
                    <select id="tiposangre" class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cant">Cantidad de Dondores</label>
                    <input type="text" class="form-control" id="cant" placeholder="Cantidad de Donadores">
                </div>
                <div class="form-group col-md-6">
                    <label for="contacto">Contacto</label>
                    <input type="text" class="form-control" id="contacto" placeholder="Telefono de Contacto">
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Seleccionar imagen</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </form>
            <div class="centreado" style="padding-top: 10%;">
                <button type="submit" class="btn btn-danger">Registrarse</button>
            </div>
        </form>
    </div>
</section>