#seccion {
    padding: 10% 15% 5% 15%;
}

.imagenfondo {
    background-image: url('../../../assets/images/fondoseccionorganos2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: "no-repeat";
    height: 100vh;
    width: 100%;
}

.centreado {
    text-align: center;
}

.encabezado {
    color: #2E2E2E;
    text-align: center;
    padding-bottom: 5%;
}

.imga {
    height: 120px;
    padding-bottom: 3%;
}

@media screen and (max-width: 988px) {
    h1 {
        font-family: learning curve;
        font-size: 2rem;
        color: white;
        font-weight: bold;
    }
}