#seccion {
    padding: 0 15% 0 15%;
    
}

.col {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 40vh !important;
}

.imagenfondo {
    background-image: url('../../../assets/images/d5.png');
    background-size: cover;
    background-position: center center;
    background-repeat: "no-repeat";
    height: 800px;
    width: 100%;
}
.centrear {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.encabezado {
    text-align: center;
    padding: 10% 0 5% 0;
}
.imagen {
    height: 150px;
    width: 150px;
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 988px) {
    .im {
        height: 300px !important;
    }
}

@media screen and (max-width: 448px) {
    .im {
        height: 250px !important;
    }
}