<section id="seccion " style="margin-bottom: 10%;">
    <div>
        <h1 class="encabezado">Requisitos para ser Donador</h1>
        <div class="container ">
            <div class="card-group">

                <div class="row">
                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/2.png">

                        <div class="card-body">
                            <p class="card-text">No presentar síntomas de Resfriado</p>
                        </div>
                    </div>

                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/3.png">

                        <div class="card-body">
                            <p class="card-text">Ser mayor de edad y no tener más de 65</p>
                        </div>
                    </div>

                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/4.png">

                        <div class="card-body">
                            <p class="card-text">Presentar tu Cedula de Identidad Vigente</p>
                        </div>
                    </div>
                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/5.png">

                        <div class="card-body">
                            <p class="card-text">No presentar síntomas de Resfriado</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/6.png">

                        <div class="card-body">
                            <p class="card-text">No haber pasado más de 4 horas sin comer</p>
                        </div>
                    </div>

                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/7.png">

                        <div class="card-body">
                            <p class="card-text">No haber consumido analgésicos</p>
                        </div>
                    </div>

                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/8.png">

                        <div class="card-body">
                            <p class="card-text">No haberse hecho tatuajes o perforaciones recientemente</p>
                        </div>
                    </div>
                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/9.png">

                        <div class="card-body">
                            <p class="card-text">No haber consumido alcohol en las últimas 48 horas</p>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/10.png">

                        <div class="card-body">
                            <p class="card-text">Pueden donar quienes padecieron Hepatitis A antes de los 10 años de edad</p>
                        </div>
                    </div>

                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/15.png">

                        <div class="card-body">
                            <p class="card-text">No estar Embarazada o en etapa de lactancia</p>
                        </div>
                    </div>

                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/16.png">

                        <div class="card-body">
                            <p class="card-text">No tener mas de una pareja sexual.</p>
                        </div>
                    </div>
                    <div class="col-md-3 tarjeta">
                        <img class="card-img-top imagen" src="../../../assets/images/13.png">

                        <div class="card-body">
                            <p class="card-text">No haber sido detectado con VIH, Chagas o Hepatitis tipo B o C</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        
    </div>

</section>

