<section id="seccion ">
    <div>
      <h1 class="encabezado">Puntos de Donacion habilitados</h1>
    </div>
  </section>
  
  <div style="background: #4CBCB3; padding: 60px 0 60px 0;">
    <div class="container">
      <!-- <button type="button" class="slick-prev" >Previous</button> -->
      <!-- <button type="button" class="slick-next">Next</button> -->
      <div class="your-class">
        <div>
          <div class="card" style="width: 18rem; margin:auto;">
            <img src="../../../assets/images/person1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width: 18rem; margin:auto;">
            <img src="../../../assets/images/person1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width: 18rem; margin:auto;">
            <img src="../../../assets/images/person1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width: 18rem; margin:auto;">
            <img src="../../../assets/images/person1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width: 18rem; margin:auto;">
            <img src="../../../assets/images/person1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width: 18rem; margin:auto;">
            <img src="../../../assets/images/person1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
