<section id="seccion"style=" background-image: url('../../../assets/images/d5.png'); background-size: cover;background-repeat: no-repeat;">
  <div  >
    <h1 class="encabezado">Campaña de Donacion</h1>
  </div>
  <div style=" padding: 60px 0 60px 0;">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
        <div
          class="col mb-4"
          *ngFor="
            let item of personaSolicitud | filtraSangre: tipoSangreUsuario
          "
        >
          <div
            class="card"
            style=" background-image: url('../../../assets/images/fondotarjetas(5).png'); background-size: cover;background-repeat: no-repeat;"
            
            data-toggle="modal"
            data-target="#exampleModal1"
            (click)="enviarIdSolicitud(item)"
            *ngIf="estaLogeado == true"
            
          >
            <img src="{{ item.foto }} " class="card-img-top imagen" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Nombre: {{ item.nombre }} {{ item.apellid_p }}
                {{ item.apellid_m }}
              </h5>
              <h5 class="card-title">
                Cantidad Donadores: {{ item.cantidad_donadores }}
              </h5>
              <h5 class="card-title">Tipo de Sangre: {{ item.tipo_sangre }}</h5>
            </div>
          </div>
        </div>
        <div class="col mb-4" *ngFor="let item of sinLogeoPersonas">
          <div
            class="card"
            style=" background-image: url('../../../assets/images/fondotarjetas(5).png'); background-size: cover;background-repeat: no-repeat;"
            data-toggle="modal"
            data-target="#exampleModal"
            *ngIf="estaLogeado == false"
          >
            <img src="{{ item.foto }} " class="card-img-top imagen" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Nombre: {{ item.nombre }} {{ item.apellid_p }}
                {{ item.apellid_m }}
              </h5>
              <h5 class="card-title">
                Cantidad Donadores: {{ item.cantidad_donadores }}
              </h5>
              <h5 class="card-title">Tipo de Sangre: {{ item.tipo_sangre }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Campaña de Donadores</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #formRegister="ngForm" (ngSubmit)="guardar(formRegister)">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input
                    type="hidden"
                    [(ngModel)]="this.citas.seleccionarCitasRegistro.id_usuario"
                    name="id_usuario"
                  />
                  <input
                    type="hidden"
                    [(ngModel)]="this.solicitudSangre.seleccionarSolicitudSangre.apellido_m"
                    name="apellido_m"
                  />
                  <input
                    type="hidden"
                    [(ngModel)]="this.solicitudSangre.seleccionarSolicitudSangre.apellido_p"
                    name="apellido_p"
                  />
                  <input
                    type="hidden"
                    [(ngModel)]="this.solicitudSangre.seleccionarSolicitudSangre.cantidad_donadores"
                    name="cantidad_donadores"
                  />
                  <!--
                    <input
                      type="hidden"
                      [(ngModel)]="this.solicitudSangre.seleccionarSolicitudSangre.fecha_nac"
                      name="fecha_nac"
                    />
                  -->
                  <input
                    type="hidden"
                    [(ngModel)]="this.solicitudSangre.seleccionarSolicitudSangre.foto"
                    name="foto"
                  />
                  <input
                    type="hidden"
                    [(ngModel)]="this.solicitudSangre.seleccionarSolicitudSangre.genero"
                    name="genero"
                  />
                  <input
                    type="hidden"
                    [(ngModel)]="this.solicitudSangre.seleccionarSolicitudSangre.hospital"
                    name="hospital"
                  />
                  <input
                    type="hidden"
                    [(ngModel)]="this.solicitudSangre.seleccionarSolicitudSangre.telefono"
                    name="telefono"
                  />
                  <input
                    type="hidden"
                    [(ngModel)]="this.solicitudSangre.seleccionarSolicitudSangre.tipo_sangre"
                    name="tipo_sangre"
                  />
                  <input
                    type="hidden"
                    [(ngModel)]="this.solicitudSangre.seleccionarSolicitudSangre.nombre"
                    name="nombre"
                  />
                  <input
                    type="hidden"
                    [(ngModel)]="
                      this.citas.seleccionarCitasRegistro.id_solicitud
                    "
                    name="id_solicitud"
                  />
                  <input
                    type="hidden"
                    [(ngModel)]="this.citas.seleccionarCitasRegistro.estado"
                    name="estado"
                  />

                  <label for="fecha"
                    >Seleccione la fecha para la Donacion</label
                  >
                  <input
                    name="fecha"
                    type="date"
                    class="form-control"
                    id="fecha"
                    required
                    [(ngModel)]="this.citas.seleccionarCitasRegistro.fecha"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="hora">Seleccione la Hora para la Donacion</label>
                  <input
                    name="hora"
                    type="time"
                    class="form-control"
                    id="hora"
                    required
                    [(ngModel)]="this.citas.seleccionarCitasRegistro.hora"
                  />
                </div>
                <input type="hidden" name="start" [(ngModel)]="this.citas.seleccionarCitasRegistro.start"/>
                <input type="hidden" name="title" [(ngModel)]="this.citas.seleccionarCitasRegistro.title"/>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-info" data-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-danger">
          Agendar Cita
        </button>
      </form>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
