<section id="seccion">
    <div class="centreado">
        <h1 class="encabezado">Formulario de Solicitud de Donadores de Organos</h1>
    </div>
    <div>
        <form #formSolicitud="ngForm" (ngSubmit)="guardarSolicitud(formSolicitud)" class="needs-validation">
            <div class="form-row">
                <div class="form-group col-md-6 has-danger">
                    <label for="ci">Carnet de Identidad</label>
                    <input name="ci" [(ngModel)]="this.dataApi.seleccionarSolicitudOrganos.ci" type="number" class="form-control" id="ci" required placeholder="C.I.">
                </div>
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre(s)</label>
                    <input name="nombre" [(ngModel)]="this.dataApi.seleccionarSolicitudOrganos.nombre" type="text" class="form-control" id="nombre" required placeholder="Nombre">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ap">Apellido Paterno</label>
                    <input name="apellido_p" [(ngModel)]="this.dataApi.seleccionarSolicitudOrganos.apellido_p" type="text" class="form-control" id="ap" required placeholder="Apellido">
                </div>
                <div class="form-group col-md-6">
                    <label for="am">Apellido Materno</label>
                    <input name="apellido_m" [(ngModel)]="this.dataApi.seleccionarSolicitudOrganos.apellido_m" type="text" class="form-control" id="am" required placeholder="Apellido">
                </div>
            </div>
            <div class="form-group">
                <label for="fnac">Fecha de Nacimiento</label>
                <input name="facha_nac" [(ngModel)]="this.dataApi.seleccionarSolicitudOrganos.fecha_nac" type="date" class="form-control" id="fnac" required placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="genero">Genero</label>
                    <select id="genero" required [(ngModel)]="this.dataApi.seleccionarSolicitudOrganos.genero" name="genero" class="form-control">
                      <option selected>Choose...</option>
                      <option>Masculino</option>
                      <option>Femenino</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="organo">Organo o Tejido Requerido</label>
                    <select id="organo" required [(ngModel)]="this.dataApi.seleccionarSolicitudOrganos.organo" name="organo" class="form-control">
                      <option selected>Choose...</option>
                      <option>Corazon</option>
                      <option>Higado</option>
                      <option>Piel</option>
                    </select>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="contacto">Telefono</label>
                    <input name="telefono" [(ngModel)]="this.dataApi.seleccionarSolicitudOrganos.telefono" type="number" class="form-control" id="contacto" required placeholder="Telefono de Contacto">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Seleccionar imagen</label>
                <input (change)="onUpload($event)" required type="file" class="form-control-file" id="exampleFormControlFile1">
                <input type="hidden" name="foto" #imagenFoto [value]="urlFoto | async" [(ngModel)]="this.dataApi.seleccionarSolicitudOrganos.foto">


                <!-- <input type="file" id="Logo" (change)="onUpload($event, cualEs = 'logo')"> -->
                <div class="progress mt-3">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercentFoto | async) + '%'">
                    </div>
                </div>


            </div>
            <div class="centreado" style="padding-top: 10%;">
                <button type="submit" class="btn btn-danger">Registrarse</button>
                <ng-template #btnDisabled>
                    <button type="submit" class="btn btn-danger" disabled=true>Registrarse</button>
                </ng-template>

            </div>
        </form>
    </div>
</section>