/* You can add global styles to this file, and also import other style files */

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
body {
    background: #F2F2F2;
}

h1 {
    font-size: 45px;
    font-family: 'Great Vibes', cursive;
    color: #F2F2F2;
    padding-bottom: 2%;
    font-weight: normal !important;
}

h2 {
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
}

@media screen and (max-width: 988px) {
    h1 {
        font-size: 2rem;
        color: #F2F2F2;
        font-weight: bold;
    }
    h2 {
        font-size: 2rem;
    }
}