<section class="seccion" style="padding-top: 10%;">
    <div class="centrear">
        <h1 class="encabezado">Personas a las que haz ayudado</h1>
    </div>
    <div class="container" style="padding:5% 0 5% 0;">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/person1.jpg" class="card-img-top" alt="..." style="padding: 0 2% 2% 2%;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

</section>
<!--esto solo debe verse si es donador de organos-->
<section class="seccion" style="padding-top: 10%;">
    <div class="centrear">
        <h1 class="encabezado">Estas personas necesitan tu ayuda</h1>
    </div>
    <div class="container" style="padding:5% 0 5% 0;">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/person1.jpg" class="card-img-top" alt="..." style="padding: 0 2% 2% 2%;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

</section>